<div class="view-header">
  <button
    (click)="backToList()"
    mat-icon-button
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 class="view-title">{{pageTitle}}</h1>

</div>

<dynamic-form
  #dynamicFormsComponent
  [objectObservable]="dataDescriptor"
  inputStyleClass="input-form-field"
></dynamic-form>

<div>

  <div class="action-footer" *ngIf="edit">
    <button (click)="updateData()" color="primary" mat-raised-button>Update</button>
    <button (click)="delete()" class="delete-button" color="warn" mat-raised-button>
      Delete
    </button>
  </div>

</div>
