
<h1>Insert Coordinator</h1>

<form class="form" [formGroup]="insertCoordinatorForm">
  <mat-form-field class="input-form-field">
    <mat-label>Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="input-form-field">
    <mat-label>CPF</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field class="input-form-field">
    <mat-label>Login</mat-label>
    <input matInput >
  </mat-form-field>

  <mat-form-field class="input-form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>

  <div >
    <button color="primary" mat-raised-button type="submit">Insert</button>
  </div>
</form>

