<h1>{{title}}</h1>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input (keyup)="applyFilter($event)" [placeholder]="placeholder" matInput>
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>


<div class="mat-elevation-z2">
  <table [dataSource]="dataSource" mat-table matSort>

    <ng-container *ngFor="let def of columnsDef" matColumnDef="{{def.field}}">
      <th *matHeaderCellDef mat-header-cell mat-sort-header> {{def.header}} </th>
      <td *matCellDef="let row" mat-cell> {{row[def.field]}} </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr (click)="viewDetails(row)" *matRowDef="let row; columns: displayedColumns;" [class.data-row]="rowClick" mat-row >
    </tr>
  </table>

  <mat-paginator (page)="pageChange($event)" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
