<ng-container>

  <app-toolbar (menuEvent)="sidenav.toggle()">
    <app-options-items>
      <a mat-menu-item>Profile</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </app-options-items>
  </app-toolbar>

  <app-sidenav #sidenav>
    <app-sidenav-items>
      <h3 mat-subheader>Insert</h3>

      <mat-list-item>
        <mat-icon matListIcon>person_add</mat-icon>
        <a matLine [routerLink]="'insertCoordinator'">Insert Coordinator</a>

      </mat-list-item>
    </app-sidenav-items>

    <mat-card class="content-card">
      <router-outlet></router-outlet>
    </mat-card>

  </app-sidenav>

</ng-container>
