<ng-container>

  <app-toolbar (menuEvent)="sidenav.toggle()">
    <app-options-items>
      <a [routerLink]="'profile'" mat-menu-item>Profile</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </app-options-items>
  </app-toolbar>

  <app-sidenav #sidenav>
    <app-sidenav-items>
      <ng-container [ngSwitch]="session.type">

        <ng-container *ngSwitchCase="userType.ADMIN">

          <h3 mat-subheader>Insert</h3>
          <mat-list-item>
            <mat-icon matListIcon>person_add</mat-icon>
            <a [routerLink]="['insert', userType.COORDINATOR]" matLine>Insert Coordinator</a>
          </mat-list-item>

          <h3 mat-subheader>View</h3>
          <mat-list-item>
            <mat-icon matListIcon>view_list</mat-icon>
            <a [routerLink]="['view', userType.COORDINATOR]" matLine>View Coordinators</a>
          </mat-list-item>

          <h3 mat-subheader>Exam</h3>
          <mat-list-item>
            <mat-icon matListIcon>view_list</mat-icon>
            <a [routerLink]="'examForm'" matLine>Update Exam</a>
          </mat-list-item>
        </ng-container>

        <ng-container *ngSwitchCase="userType.COORDINATOR">
          <h3 mat-subheader>Insert</h3>
          <mat-list-item>
            <mat-icon matListIcon>person_add</mat-icon>
            <a [routerLink]="['insert', userType.PROFESSOR]" matLine>Insert Professor</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>person_add</mat-icon>
            <a [routerLink]="['insert', userType.STUDENT]" matLine>Insert Student</a>
          </mat-list-item>
          <h3 mat-subheader>View</h3>
          <mat-list-item>
            <mat-icon matListIcon>view_list</mat-icon>
            <a [routerLink]="['view', userType.PROFESSOR]" matLine>View Professors</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListIcon>view_list</mat-icon>
            <a [routerLink]="['view', userType.STUDENT]" matLine>View Students</a>
          </mat-list-item>
        </ng-container>


        <ng-container *ngSwitchCase="userType.PROFESSOR">


        </ng-container>


        <ng-container *ngSwitchCase="userType.STUDENT">


        </ng-container>


      </ng-container>


    </app-sidenav-items>

    <mat-card class="content-card">
      <router-outlet></router-outlet>
    </mat-card>

  </app-sidenav>

</ng-container>
