<ng-container>

  <app-toolbar (menuEvent)="sidenav.toggle()">
    <app-options-items>
      <a [routerLink]="'profile'" mat-menu-item>Profile</a>
      <button mat-menu-item (click)="logout()">Logout</button>
    </app-options-items>
  </app-toolbar>

  <app-sidenav #sidenav>
    <div class="sidenav-items">

      <ng-container *ngFor="let item of navDescriptor">

        <ng-container [ngSwitch]="item.type">

          <ng-container *ngSwitchCase="'header'">
            <h3 mat-subheader>{{item.label}}</h3>
          </ng-container>
          <ng-container *ngSwitchCase="'list-item'">
            <mat-list-item
              #insertNav
              (click)="selected = insertNav"
              [class.selected]="selected == insertNav"
              [routerLink]="item.link"
              matRipple
            >
              <mat-icon class="nav-icon" matListIcon>{{item.icon}}</mat-icon>
              <a matLine>{{item.label}}</a>
            </mat-list-item>
          </ng-container>
          <ng-container *ngSwitchCase="'divider'">
            <mat-divider></mat-divider>
          </ng-container>

        </ng-container>
      </ng-container>

    </div>

    <mat-card class="content-card">
      <router-outlet></router-outlet>
    </mat-card>

  </app-sidenav>

</ng-container>
