
.photo-container {
  float: right;
  margin-right: 20px;
}

.photo {
  width: 150px;
  height: 150px;
  background-color: lightgray;
  border-radius: 100%;
}

.photo > img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
