/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.input-form-field {
  width: 300px;
}

mat-list-item {
  /*transition: 0.3s;*/
}

mat-list-item.selected {
  /*background-color: red;*/
}

mat-list-item.selected:hover {
  /*background-color: rgba(0.3, 0.4, 0.3, 0.2) !important;*/
}

.nav-icon {
  color: gray;
}
