<mat-card (click)="fileSelect.emit(file)" class="mat-elevation-z2">

  <div class="row card-content">
    <div class="img"></div>
    <div class="file-desc">
      <p class="file-title">{{file.filename}}</p>
      <p> {{file.metadata?.sender }}</p>
      <p> {{file.length | data }}</p>
    </div>
    <div class="spacer"></div>
    <mat-icon>get_app</mat-icon>
  </div>

  <mat-progress-bar
    #progress
    [class.hidden]="!downloading"
    [value]="value | async"
    mode="determinate"
  ></mat-progress-bar>
</mat-card>
